<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="appKey" value="amzn1.application-oa2-client.1234567890abcdef" />
    <add key="appSecret" value="1234567890abcdef1234567890abcdef1234567890abcdef" />
    <add key="oauthxRedirect" value="https://myOauthxSite.com/api/authorize/"/>
    <add key="oauthxBase" value="https://myOauthxSite.com/api/OAuthTransactions/"/>
    <add key="jsonConfig" value="AmazonCloudDriveSync.config.json" />
    <add key="cloudFolder" value="MySyncCloudFolder"/>
    <add key="localFolder" value="C:\\CloudDriveSync"/>

  </appSettings>
</configuration>